/* 
cores
verde,azul,branco,preto
*/
*{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
button#button {
    background-color: rgba(255, 255, 255, 0);
    width: 100vw;
    height: 100vh;
}